* {
    padding: 0;
    margin: 0;
    z-index: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;    
}

#root {
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none ;
    color: #fff; 
}

.field {
    width: 100%;
}

/* Forms-related classes */
.form {
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius:  6px;
    padding: 20px;
}

.form-group > label {
    font-weight: 600;
    color: rgba( 0 , 0 , 0 , 0.8 );
    letter-spacing: 2px;
}
.form-group > input:focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 121, 111 , 0.25 );
    border-color: rgba(1, 121, 111 , 1 );
}

.btn-info {
    background: rgba(1, 121, 111 , 1) !important;
    color: #fff;
}